.sidebar {
  background-color: var(--sidebar-bg-color);
  color: var(--text-color);
  height: 100vh;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newChatBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--button-bg-color);
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.logo {
  height: 35px;
  width: 35px;
  background-color: #fff;
  border-radius: 50%;
  object-fit: cover;
}

.newChatBtn span {
  font-size: 20px;
}

.newChatBtn:hover {
  background-color: var(--button-hover-bg-color);
}

.history {
  margin: 10px;
  padding: 10px;
  height: 100%;
}

.history li {
  list-style-type: none;
  cursor: pointer;
  padding: 2px 5px;
  font-size: 14px;
  border: solid 10px transparent;
  position: relative;
  color: var(--text-color);
}

.history li:hover {
  background-color: rgba(180, 180, 180, 0.05);
  border-radius: 10px;
}

.sign {
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  text-align: center;
  border-top: solid 0.25px var(--border-color);
}

.fa-trash {
  opacity: 0;
  position: absolute;
  right: 0;
  color: var(--text-muted-color);
  transition: color 0.3s;
}

.history li:hover .fa-trash {
  opacity: 1;
  color: var(--text-color);
}

.fa-trash:hover {
  color: #f87171 !important;
}

.highlighted {
  background-color: rgba(180, 180, 180, 0.05);
  border-radius: 10px;
}
